#a1 {
   color: rgb(8, 52, 70);
   background-color: rgb(197, 207, 221);
   width: 7cm;
}

body {
    background-color: rgb(137, 155, 207);
}

#a3 {
    color: rgb(25, 47, 80);
    background-color: rgb(111, 129, 180);
    width: 7cm;
}